.logo {
    font-size: 40px;
    font-weight: 400;

    padding-top: 88px;
    padding-left: 113px;
}

nav.menu {
    position: absolute;
    width: 1109px;
    height: 274px;
    left: 211px;
    top: 49px;

}

ul.menu-lista {
    display: flex;
    justify-content: space-around;
    padding-left: 600px;
    
}

.menu-itens, li, a {
    font-size: 16px;
    font-weight: bold;
    color: black;
    text-decoration: none;
}
  



