body {
    background-image: url("/home/gio/Desenvolve Boticario/Desenvolve/MagicSalon/img/Mulher com cabelo colorido e coque.jpg");
}

h2 {
    margin: 0;
    text-align: center;
    padding-top: 2rem;
}

.Sobre {
    margin: 1rem 2rem;
    font-size: 1.3rem;

}